@keyframes hoverAnimation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation-name: rotate;
    animation-timing-function: linear;
}

.btn {
    width: 100px;
    height: 50px;
    background-color: #ffffff;
    border-style: solid;
    border-color: lightcoral;
    margin: 20px;
}
